<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"> </head>
<body> 

 <div class=" container-scroller">
  <nav th:replace ="header::header"></nav>
           
   <div class="container-fluid">
     <div class="row row-offcanvas row-offcanvas-right">
     <nav th:replace ="docsidebar::docsidebar"></nav> 
         <div class="content-wrapper">
          <h4 class="page-heading mb-4">Patients</h4>
          
          <div class="line"></div>
                <div id="msg"></div>
          
          <div class="card-deck">
            <div class="card col-lg-12 px-0 mb-4">
              <div class="card-body"> 
<form>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9">
   <a th:href="@{/doctor/addpatient}"><span class="glyphicon glyphicon-plus" title="add patient"></span></a>
   </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
     <input class="form-control" id="system-search" name="q" placeholder="Search for" required = "required"/>
     
      <span class="glyphicon glyphicon-search form-control-feedback" th:style="'margin-top:14px; font-size:16px; margin-right:6px;' "></span>
    </div>
  </div>
</form>  
                <div class="table-responsive">
                 <table class="table center-aligned-table">
			<thead>
                    <tr>
                         <th>Patient ID</th>
                         <th>Name</th>
						 <th>Gender</th>
						 <th>Nationality</th>
						 <th>ID Number</th>
						 <th>Diagnosis</th>
						 <th>Location</th>
                         <th>Active</th>
                    </tr>
            </thead>
			
<tbody>
 <tr data-th-each="patients : ${patientss}">
        <td data-th-text="${patients.id}">...</td>
        <td data-th-text="${patients.name}"> ...</td>
        <td data-th-text="${patients.gender?.name}">...</td>
        <td data-th-text="${patients.nationality?.name}">...</td>
        <td data-th-text="${patients.national_id}">...</td>
        <td data-th-text="${patients.diagnosis?.name}">...</td>
        <td data-th-text="${patients.department?.departmentName}">...</td>
         <td data-th-text="${patients.activeStatus?.name}">...</td>
       
</tr>
</tbody>
 
	
		</table>

                </div>
              </div>
         </div>
         </div>
          
        </div>
     </div>
    </div>   
        
  <div th:replace ="footer::footer"></div>
 </div>  
<script th:utext="${msg}"></script>

 </body>
</html>