<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="homeCss :: homeCss"> </head>
<head lang="en" th:replace="loginCss :: loginCss"> </head>

<body >  
  <div id="wrapper">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container navigation">

        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
          <a class="navbar-brand" href="index.html">
                    <img src="/images/P.jpg" alt="" width="140" height="140" style = "border-radius: 50%;"/>
                </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
          
          </ul>
        </div>
      </div>
     </nav>
 <section id="intro" class="intro">
      <div class="intro-content">
 <div class="overlay overlay-bg"></div>	
        <div class="container">
          <div class="row fullscreen">
           <div class="col-lg-5" >
         
                  <div class="banner-content wow fadeInDown"  data-wow-offset="0" data-wow-delay="0.1s">
								<h1 >
								Delivering			
							</h1>
							<h1 >
								Deliciousness		
							</h1>
							<p class="pt-10 pb-10 text-white">
								Whether you enjoy city breaks or extended holidays in the sun, you can always improve your travel experiences by staying in a small.
							</p>
							<a href="#" class="primary-btn text-uppercase">Our Services</a>
			</div>
            </div>
          
          
          
            <div class="col-lg-7 col-md-7 col-sm-7"> 
 <header id="header">
      <div class="container">
        <div class="row">

<div id = "wrapper" >
             <div class="line"></div>
                <div id="msg"></div>

<form action="#"  method="post">
  <div class="group">  <input type="text" /><span class="highlight"></span><span class="bar"></span>
    <label><i class="glyphicon glyphicon-user" style = "color: grey;"></i> Username</label>
  </div>
  <div class="group">
    <input type="password" /><span class="highlight"></span><span class="bar"></span>
    <label><i class="glyphicon glyphicon-lock" style = "color: grey;"></i> Password</label>
  </div>
  <button type="submit" class="button buttonBlue" value = "login">Login
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form> 
  </div>
</div>
</div>
</header>
    </div>
          </div>
          </div>
      </div>
    </section>
           
    <footer > 
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="wow fadeInLeft" data-wow-delay="0.1s">
                <div class="text-left">
                  <p>&copy;Copyright - 2018. All rights reserved.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="wow fadeInRight" data-wow-delay="0.1s">
                <div class="text-right">
                  <div class="credits">
                     Designed by <a style = "color:blue;">Eunice</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>       
        
 
    </div>
        
    </body>
</html>
