<head th:fragment="log">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PSMI</title>
  
<link rel="shortcut icon" th:href="@{/images/psmi-big-logo.png}" type="/images/png"/>

  <link rel="stylesheet" th:href="@{/dist/css/home/vendors/iconfonts/mdi/css/materialdesignicons.min.css}"/>
  <link rel="stylesheet" th:href="@{/dist/css/home/vendors/iconfonts/puse-icons-feather/feather.css}"/>
  <link rel="stylesheet" th:href="@{/dist/css/home/vendors/css/vendor.bundle.base.css}"/>
  <link rel="stylesheet" th:href="@{/dist/css/home/vendors/css/vendor.bundle.addons.css}"/>
  <link rel="stylesheet" th:href="@{/dist/css/style.css}" type="text/css" />


  <script th:src="@{/dist/css/home/vendors/js/vendor.bundle.base.js}"></script>
  <script th:src="@{/dist/css/home/vendors/js/vendor.bundle.addons.js}"></script>
  
  <script th:src="@{/dist/css/home/vendors/js/off-canvas.js}"></script>
  <script th:src="@{/dist/css/home/vendors/js/hoverable-collapse.js}"></script>
  <script th:src="@{/dist/css/home/vendors/js/misc.js}"></script>
  <script th:src="@{/dist/css/home/vendors/s/settings.js}"></script>
  <script th:src="@{/dist/css/home/vendors/js/todolist.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/msg.js}"></script>
</head>








