<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head lang="en" th:replace="head :: head"> </head>
 <body> 
 <div class="wrapper">
           <div th:replace ="sidebar::sidebar"></div>


            <div id="content">
                <div th:replace ="navheader::navheader"></div>
                <h2>Change Password</h2>
                <div class="line"></div>
                <div id="msg"></div>
                <!-- Content Start Here --> 
                <form action="#" id="formu" name="formu" th:action="@{/changepasswordform}" method="post"  onchange="validateform();">
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6" align="right" ><b>Old Password</b></div>
                      <div class="col-lg-6 col-md-6 col-sm-6" ><div class="form-group"><input type="password" class="form-control" name="oldPassword" id="oldPassword"  validate="1"  data-empty-error="Old Password cannot be empty" onchange="checkMatch()" data-equal-error="Old Password does not match your current Password" /> <div class="help-block with-errors"></div> </div></div>
                  </div>                
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6"  align="right"><b>New Password</b></div>
                      <div class="col-lg-6 col-md-6 col-sm-6" ><div class="form-group"><input type="password" class="form-control" name="newPassword" id="newPassword"  validate="1"  data-empty-error="New Password cannot be empty" dataMinLength = "5" data-length-error="Password should be 6 characters or more"   onchange="checkMatch()" /> <div class="help-block with-errors"></div> </div></div>
                  </div>                 
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6"  align="right"><b>Confirm New Password</b></div>
                      <div class="col-lg-6 col-md-6 col-sm-6" ><div class="form-group"><input type="password" class="form-control" name="confirmPassword" id="confirmPassword" validate="1"  data-empty-error="Confirm New Password cannot be empty" onchange="checkMatch()"  data-equal-error="New Password does not match Confirm New Password" /> <div class="help-block with-errors"></div> </div></div>
                  </div>    
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6"  align="right"> <input type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-info" value="login" /></div>
                      <div class="col-lg-6 col-md-6 col-sm-6" > <a th:href="@{/home}" class="btn btn-info" >Cancel</a></div>
                    </div>
                </form>   
                 <!-- Content End Here -->
            </div>
            </div>
  <div th:replace ="footer::footer"></div>
  <script th:utext="${msg}"></script>
  <script type="text/javascript">validateform();</script>
 </body>
</html>